@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

body {
    background: rgb(247,205,111);
    background: linear-gradient(180deg, rgba(247,205,111,1) 14%, rgba(136,174,136,1) 38%, rgba(61,105,101,1) 60%, rgba(40,71,74,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    background: white;
}

img {
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
}

.species-list-item img {
    width: 100%;
    height: auto;
}

.species-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0;
}

.species-list-item {
    list-style: none;
}

div > a {
    text-decoration: none;
    color: black !important;
}

header {
    margin-bottom: 20px;
}

.row {
    align-items: center;
}

.carousel {
    width: 70% !important;
    height: 70% !important;
    margin: auto !important
}

.about-us {
    font-size: 17px !important;
    padding-left: 10px;
    font-weight: 500;
}

.section-one {
    background-color: rgb(255, 255, 255);
    text-align: left;
    padding: 50px 50px 50px 50px;
}

.section-two {
    background-color: rgb(246, 245, 242);
    text-align: left;
    padding: 50px 50px 50px 50px;
}

.section-three {
    background-color: rgb(255, 255, 255);
    text-align: left;
    padding: 50px 50px 50px 50px;
}

.img-banner {
    border-radius: 0px !important;
}

figcaption {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.icon-text-container {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

.icon-text-container p {
    margin: 0;
    background: rgb(56, 125, 246);
    padding: 20px;
    border-radius: 20px;
    margin: 0 0 0 20px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    color: white;
}

.icon {
    height: 150x;
    width: 150px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.main-page-img {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
}

.footer-link {
    color: white !important;
    display: block;
    margin-bottom: 16px;
}

.support-img {
    max-width: 150px !important;
    max-height: 150px !important;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.support-btn {
    margin-top: 20px;
}
