<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <title>ACA - Kea</title>
</head>
<body>
    {% include 'parts/nav.html' %}
    {% include 'carousels/keacarousel.html' %}
    <section class="section-one">
        <div class="bg-light p-5 m-3 jumbotron">
            <h1 class="line text-center ">Facts!</h1>
            <div class="container">
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="icon-text-container">
                            <img src="{{url_for('static', filename='imgs/icons/kea/Appearance.png')}}" class="icon">
                            <p>The Kea is a parrot species native to New Zealand. It is known for its vibrant plumage, with a mix of green, orange, and brown feathers. The Kea has a large wingspan and a long, curved beak, which it uses to forage for food.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-text-container">
                            <img src="{{url_for('static', filename='imgs/icons/kea/habitat.png')}}" class="icon">
                            <p>The Kea is primarily found in the alpine regions of the South Island of New Zealand. They inhabit forests, mountains, and subalpine areas. These intelligent birds have adapted to survive in harsh environments, including snowy and windy conditions.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-text-container">
                            <img src="{{url_for('static', filename='imgs/icons/kea/history.png')}}" class="icon">
                            <p>The Kea has a fascinating history. These parrots have been living in New Zealand for thousands of years and have adapted to the unique environment of the country. They are believed to have evolved from an ancestor that arrived in New Zealand millions of years ago.</p>
                        </div>
                    </div>
                        <div class="col-md-6">
                            <div class="icon-text-container">
                                <img src="{{url_for('static', filename='imgs/icons/kea/trenddown.png')}}" class="icon">
                                <p>The Kea population has been experiencing a decline in recent years. Factors such as habitat loss, predation, and human activities have contributed to this decline. Conservation efforts are crucial to protect and preserve this unique species.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-two">
            <h1 class="line">What are we doing?</h1>
            <p>We have dedicated extensive resources to the preservation of the Kea and their habitat. Our efforts include:</p>
            <ul>
                <li>Implementing conservation programs to protect the Kea population and their natural habitat.</li>
                <li>Collaborating with local communities, researchers, and government agencies to raise awareness about the importance of Kea conservation.</li>
                <li>Supporting research initiatives to better understand the behavior, ecology, and threats faced by Kea.</li>
                <li>Implementing measures to mitigate human activities that negatively impact Kea, such as reducing habitat destruction and minimizing disturbance in their nesting areas.</li>
                <li>Engaging in advocacy and lobbying efforts to strengthen legal protections for Kea and their habitat.</li>
                <li>Supporting initiatives that promote sustainable tourism practices in Kea habitats, ensuring minimal disturbance to their natural environment.</li>
            </ul>
        </section>
        <section class="section-three">
            <h1 class="line">How can you help?</h1>
            <p>There are several ways you can contribute to the conservation of Kea and their habitat:</p>
            <ul>
                <li>Support conservation organizations that work to protect Kea and their natural environment through donations, volunteering, or advocacy.</li>
                <li>Learn more about Kea and their conservation status to raise awareness among your friends, family, and community.</li>
                <li>Practice responsible tourism when visiting Kea habitats, such as following designated trails, avoiding feeding wildlife, and minimizing noise and disturbance.</li>
                <li>Report any illegal activities that threaten Kea or their habitat, such as poaching, habitat destruction, or disturbance of nesting sites.</li>
                <li>Support sustainable practices in your daily life, such as reducing waste, conserving energy, and choosing eco-friendly products.</li>
                <li>Get involved in local conservation initiatives, such as tree planting, habitat restoration, or wildlife monitoring programs.</li>
            </ul>
        </section>
    {% include 'parts/footer.html' %}
</body>
</html>