<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <title>Document</title>
</head>
<body>
    {% include 'parts/nav.html' %}
    {% include 'carousels/NZsealioncarousel.html' %}
    <section class="section-one">
        <div class="bg-light p-5 m-3 jumbotron">
            <h1 class="line text-center ">Facts!</h1>
            <div class="container">
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="icon-text-container">
                            <img src="{{url_for('static', filename='imgs/icons/kea/Appearance.png')}}" class="icon">
                            <p>The New Zealand sea lion, also known as the Hooker's sea lion, is a large marine mammal with a distinctive appearance. Adult males can reach lengths of up to 3 meters and weigh around 400-600 kilograms. They have a dark brown or grayish coat, with a thick neck and a prominent mane of coarse hair.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-text-container">
                            <img src="{{url_for('static', filename='imgs/icons/kea/habitat.png')}}" class="icon">
                            <p>New Zealand sea lions primarily inhabit the subantarctic islands, including the Auckland Islands and Campbell Island, where they favor sandy beaches and coastal forests for breeding. They are also found along the mainland coastlines of New Zealand, especially in the Otago Peninsula and Stewart Island. These sea lions often venture into nearby waters to feed.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-text-container">
                            <img src="{{url_for('static', filename='imgs/icons/kea/history.png')}}" class="icon">
                            <p>The Kea has a fascinating history. These parrots have been living in New Zealand for thousands of years and have adapted to the unique environment of the country. They are believed to have evolved from an ancestor that arrived in New Zealand millions of years ago.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-text-container">
                            <img src="{{url_for('static', filename='imgs/icons/kea/trenddown.png')}}" class="icon">
                            <p>The Kea population has been experiencing a decline in recent years. Factors such as habitat loss, predation, and human activities have contributed to this decline. Conservation efforts are crucial to protect and preserve this unique species.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-two">
        <h1 class="line">What are we doing?</h1>
        <p>The NZ Sea Lion is an incredibly endangered native marine species because of this, we are trying to up our efforts when it comes to protecting them. Our efforts include:</p>
        <ul>
            <li>Collaborating with local communities, researchers, and government agencies to enhance awareness about the significance of conserving NZ Sea Lions.</li>
            <li>Implementing conservation programs aimed at safeguarding the NZ Sea Lion population and its natural habitat.</li>
            <li>Advocating and lobbying for stronger legal safeguards for NZ Sea Lions and their habitats.</li>
            <li>Supporting research endeavors to deepen understanding of the behavior, ecology, and threats confronting NZ Sea Lions.</li>
            <li>Backing initiatives that promote sustainable tourism practices in NZ Sea Lion habitats to minimize disruption to their natural surroundings.</li>
            <li>Enforcing measures to alleviate human activities detrimental to NZ Sea Lions, such as curtailing habitat destruction and reducing disturbances in their nesting sites.</li>
        </ul>
    </section>
    <section class="section-three">
        <h1>How can you help?</h1>
        <p>There a quite a few ways that you can do to help our cause!</p>
        <ul>
            <li>Learn more about NZ Sea Lion and their conservation status to raise awareness among your friends, family, and community.</li>
            <li>Practice responsible tourism when visiting NZ Sea Lion habitats, such as following designated trails, avoiding feeding wildlife, and minimizing noise and disturbance.</li>
            <li>Report any illegal activities that threaten NZ Sea Lion or their habitat, such as poaching, habitat destruction, or disturbance of nesting sites.</li>
            <li>Support conservation organizations that work to protect NZ Sea Lion and their natural environment through donations, volunteering, or advocacy.</li>
            <li>Get involved in local conservation initiatives, such as tree planting, habitat restoration, or wildlife monitoring programs.</li>
            <li>Support sustainable practices in your daily life, such as reducing waste, conserving energy, and choosing eco-friendly products.</li>
        </ul>
    </section>
    {% include 'parts/footer.html' %}
</body>
</html>