<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <title>ACA - Tuatara</title>
</head>
<body>
    {% include 'parts/nav.html' %}
    {% include 'carousels/tuataracarousel.html' %}
    <section class="section-one">
        <div class="bg-light p-5 m-3 jumbotron">
            <h1 class="line text-center ">Facts!</h1>
            <div class="container">
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="icon-text-container float">
                            <img src="{{url_for('static', filename='imgs/icons/kea/Appearance.png')}}" class="icon">
                            <p>Tuataras are reptilian creatures resembling lizards, with distinctively rough, spiny scales along their backs and tails. Typically, tuataras are olive green or brownish-gray in color, blending well with their natural forest and rocky habitat.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-text-container float">
                            <img src="{{url_for('static', filename='imgs/icons/kea/habitat.png')}}" class="icon">
                            <p>Tuataras inhabit the coastal forests and scrublands of New Zealand's offshore islands, where they find shelter in burrows often shared with seabirds. These reptiles thrive in cool, temperate environments and require stable, undisturbed ecosystems to maintain their populations.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-text-container float">
                            <img src="{{url_for('static', filename='imgs/icons/kea/history.png')}}" class="icon">
                            <p>Tuataras have a fascinating history in New Zealand, where they are considered living fossils, having remained virtually unchanged for millions of years. They were once widespread across the mainland but are now mainly found on predator-free offshore islands due to habitat destruction and introduced predators like rats and cats.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-text-container float">
                            <img src="{{url_for('static', filename='imgs/icons/kea/trenddown.png')}}" class="icon">
                            <p>The decline in tuatara populations in New Zealand is primarily attributed to habitat destruction, including deforestation and urban development. Additionally, introduced predators such as rats, cats, and stoats have had a significant impact on their numbers, preying on tuataras and their eggs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-two">
            <h1 class="line">What are we doing?</h1>
            <p>The tuatara is a critically endangered native reptile species in New Zealand. Due to its vulnerable status, we are intensifying our conservation efforts. Our initiatives include:</p>
            <div class="facts-list float">
                <ul>
                    <li>Backing initiatives that promote sustainable tourism practices in NZ Sea Lion habitats to minimize disruption to their natural surroundings.</li>
                    <li>Advocating and lobbying for stronger legal safeguards for NZ Sea Lions and their habitats.</li>
                    <li>Supporting research endeavors to deepen understanding of the behavior, ecology, and threats confronting NZ Sea Lions.</li>
                    <li>Collaborating with local communities, researchers, and government agencies to enhance awareness about the significance of conserving NZ Sea Lions.</li>
                    <li>Implementing conservation programs aimed at safeguarding the NZ Sea Lion population and its natural habitat.</li>
                    <li>Enforcing measures to alleviate human activities detrimental to NZ Sea Lions, such as curtailing habitat destruction and reducing disturbances in their nesting sites.</li>
                </ul>
            </div>
        </section>
        <section class="section-three">
            <h1 class="line">How can you help?</h1>
            <p>There are several ways you can contribute to our efforts to protect the tuatara and its habitat:</p>
            <div class="facts-list float">
                <ul>
                    <li>Support conservation organizations and initiatives dedicated to preserving the tuatara and its natural environment.</li>
                    <li>Participate in volunteer programs that involve habitat restoration, predator control, and monitoring of tuatara populations.</li>
                    <li>Spread awareness about the importance of conserving the tuatara and the threats it faces from habitat loss and introduced predators.</li>
                    <li>Adopt sustainable practices in your daily life to reduce your impact on the environment and help protect the tuatara's habitat.</li>
                    <li>Report any sightings of tuataras or signs of illegal activities that may harm these reptiles to local authorities or conservation organizations.</li>
                    <li>Support research efforts to study tuatara populations, behavior, and ecology to inform conservation strategies and management decisions.</li>
                </ul>
            </div>
        </section>
    {% include 'parts/footer.html' %}
</body>
</html>