<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p>Ben Lawrence - 2024</p>
                </div>
                <div class="col-md-3">
                    <a class="footer-link" href="{{'about'}}">About Us</a>
                </div>
                <div class="col-md-3">
                    <a class="footer-link" href="https://github.com/Bentheminernz/1.2-Develop-a-digital-technologies-outcome">Source Code</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>