<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('home')}}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="{{url_for('about')}}">About</a>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Animals
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{url_for('kea')}}">Kea</a>
              <a class="dropdown-item" href="{{url_for('kiwi')}}">Kiwi</a>
              <a class="dropdown-item" href="{{url_for('nzsealion')}}">NZ Sea Lion</a>
              <a class="dropdown-item" href="{{url_for('tuatara')}}">Tuatara</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</body>
</html>